.general-contact-container{
  position: absolute;
  min-width: 1200px;
  height: 1024px;
  left: 5px;
  top: 4800px;
}

.frame-contact-container{
  position: absolute;
  min-width: 1200px;
  height: 942px;
  left: 0px;
  top: 112px;
}


.info-contact{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 26px;
  gap: 10px;
  position: absolute;
  width: 899px;
  height: 600px;
  left: 200px;
  top: -90px;
  background: rgba(48, 35, 134, 0.6);
  border-radius: 30px;
}


.frame-contact{
  width: 847px;
height: 600px;
flex: none;
order: 0;
flex-grow: 0;
}

.social-media{
  display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
position: absolute;
width: 447px;
height: 600px;
left: 437px;
top: 0px;
border-radius: 0px 30px 30px 0px;

}

.social-frame{
  z-index: 100;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 38px;
gap: 14px;
width: 294px;
height: 48px;
}

.logo-name{
text-align: center;
font-family: 'Oxygen';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 145%;
color: #000000;
}

.github{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 21px 84px;
gap: 10px;
width: 462px;
height: 100px;
background: #FFFFFF;
border-radius: 0px 30px 0px 0px;
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
}

.linkedin{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 97px;
gap: 10px;
width: 462px;
height: 100px;
background: #2B5FE4;
flex: none;
order: 1;
flex-grow: 0;
cursor: pointer;
}

.gmail{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 21px 136px;
gap: 10px;
width: 462px;
height: 100px;
background: #FFFFFF;
flex: none;
order: 2;
flex-grow: 0;
cursor: pointer;
}

.skype{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 21px 133px;
gap: 10px;
width: 462px;
height: 100px;
background: #0078D7;
flex: none;
order: 3;
flex-grow: 0;
cursor: pointer;
}

.whatsapp{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 21px 82px;
gap: 10px;
width: 462px;
height: 100px;
background: #FFFFFF;
flex: none;
order: 4;
flex-grow: 0;
cursor: pointer;
}

.twitter{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 21px 118px;
gap: 10px;
width: 462px;
height: 100px;
background: #1D9BF0;
border-radius: 0px 0px 30px 0px;
flex: none;
order: 5;
flex-grow: 0;
cursor: pointer;
}

.info-frame{
  position: absolute;
width: 280px;
height: 382px;
left: 45px;
top: 30px;
}

.info-title{
  position: absolute;
  width: 242px;
  height: 38px;
  left: 0px;
  top: 0px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #FFFFFF;
}

.info-text{
  position: absolute;
  width: 200px;
  height: 140px;
  left: 0px;
  top: 68px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  color: #FFFFFF;
}


.info-frame-container{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;
position: absolute;
width: 274px;
height: 106px;
left: 0px;
top: 276px;
}


.phone-container{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 19px;
width: 178px;
height: 40px;
flex: none;
order: 0;
flex-grow: 0;
}

.phone-icon{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 40px;
height: 40px;
background: rgba(255, 255, 255, 0.3);
border-radius: 30px;
flex: none;
order: 0;
flex-grow: 0;
}

.phone{
  width: 20px;
height: 20px;
flex: none;
order: 0;
flex-grow: 0;
}

.phone-text{
  width: 119px;
height: 25px;
font-family: 'Oxygen';
font-style: normal;
font-weight: 200;
font-size: 17px;
line-height: 145%;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}


.email-container{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 19px;
width: 274px;
height: 36px;
flex: none;
order: 1;
flex-grow: 0;
}

.email-icon{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 40px;
height: 36px;
background: rgba(255, 255, 255, 0.3);
border-radius: 30px;
flex: none;
order: 0;
flex-grow: 0;
}

.email{
  width: 20px;
height: 20px;
flex: none;
order: 0;
flex-grow: 0;
}

.email-text{
  width: 215px;
height: 25px;
font-family: 'Oxygen';
font-style: normal;
font-weight: 200;
font-size: 17px;
line-height: 145%;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}


.image-girl-container{
z-index: 100;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15px;
gap: 10px;
position: absolute;
width: 351px;
height: 739px;
left: 0px;
top: 150px;
}

.girl-clock{
  width: 100%;
height: 100%;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}



.website-link{
  z-index: 1;
  text-decoration: none;
  font-family: 'Oxygen';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 145%;
color: #000000;
text-align: center;
}

/*media query min 1200px max 1300px*/
@media (min-width:1200px) and (max-width:1300px){
  .general-contact-container{
    position: absolute;
    min-width: 1200px;
    height: 1024px;
    left: 15%;
    top: 4800px;
  }
}

/*media query min 992 max 1199.98*/
@media (min-width:992px) and (max-width:1199.98px){
  .general-contact-container{
    position: absolute;
    min-width: 1200px;
    height: 1024px;
    left: 15%;
    top: 4800px;
  }

  .info-text{
    font-size: 1.1rem;
  }
}

/*media query min 768 max 991.98*/
@media (min-width:768px) and (max-width:991.98px){
  .general-contact-container{
    min-width: 768px;
    max-width: 991.98px;
    top: 5400px;
    left: 10%;
  }

  .info-text{
    font-size: 1.2rem;
    line-height: 130%;
  }

  .info-frame-container{
    top: 310px;
  }
}

/*media query min 576px max 767.98*/
@media (min-width:576px) and (max-width:767.98px){
  .general-contact-container{
    position: absolute;
    min-width: 576px;
    max-width: 767.98px;
    height: 100%;
    left: 5%;
    top: 10000px;
  }

  .info-contact{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 950px;
    height: 1200px;
    left: 200px;
   
    background: rgba(48, 35, 134, 0.6);
    border-radius: 30px;
  }
  
  .frame-contact{
    width: 950px;
    height: 1200px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  }
  
  .info-frame{
    top: 0;
    height: 600px;
  width: 950px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .info-title{
  width: 950px;
  height: 60px;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 40px;
  }
  
  
  
  .info-text{
    width: 950px;
    height: 200px;
    font-size: 2.7rem;
    padding: 50px 30px;
    text-align: center;
  }
  
  .info-frame-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    top: 350px;
    width: 950px;
    padding: 20px;
    height: 200px;
    gap: 140px;
  }
  
  
  .phone-icon, .email-icon{
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50px;
  }
  
  .phone, .email{
    width: 50px;
    height: 50px;
  }
  
  .phone-text, .email-text{
    width: 90px;
    height: 50px;
    font-size: 2rem;
  }
  
  .image-girl-container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -730px;
  left: 475px;
  }
  
  .social-media{
    top: 600px;
    left: 0;
    width: 899px;
  }
  
  .website-link{
    font-size: 50px;
  }
  
  .github, .linkedin, .gmail, .skype, .whatsapp, .twitter{
    width: 950px;
    border-radius: 0px;
  }
  
  .twitter{
    border-radius: 0px 0px 30px 30px;
  }
}


/*media query min 320px max 575.98*/
@media (min-width: 320px) and (max-width: 575.98px){
  .general-contact-container{
    position: absolute;
    min-width: 320px;
    height: 100%;
    left: 5px;
    top: 10000px;
  }


.info-contact{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  width: 950px;
  height: 1200px;
  left: 200px;
 
  background: rgba(48, 35, 134, 0.6);
  border-radius: 30px;
}

.frame-contact{
  width: 950px;
  height: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.info-frame{
  top: 0;
  height: 600px;
width: 950px;
left: 0;
display: flex;
justify-content: center;
align-items: center;
}

.info-title{
width: 950px;
height: 60px;
font-size: 3.5rem;
text-align: center;
padding-top: 40px;
}



.info-text{
  width: 950px;
  height: 200px;
  font-size: 2.7rem;
  padding: 50px 30px;
  text-align: center;
}

.info-frame-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 350px;
  width: 950px;
  padding: 20px;
  height: 200px;
  gap: 140px;
}


.phone-icon, .email-icon{
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 50px;
}

.phone, .email{
  width: 50px;
  height: 50px;
}

.phone-text, .email-text{
  width: 90px;
  height: 50px;
  font-size: 2rem;
}

.image-girl-container{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
top: -730px;
left: 475px;
}

.social-media{
  top: 600px;
  left: 0;
  width: 899px;
}

.website-link{
  font-size: 50px;
}

.github, .linkedin, .gmail, .skype, .whatsapp, .twitter{
  width: 950px;
  border-radius: 0px;
}

.twitter{
  border-radius: 0px 0px 30px 30px;
}
}