@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');



.footer-container{
padding: 93px 40px;
gap: 33px;
position: absolute;
width: 100%;
height: 396px;
left: 0px;
top: 5708px;
bottom: 0;
background: #14174F;

}


/*Menu footer*/
.menu-container{
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 15px 0;
  gap: 50px;
  width: 100%;
  height: 36.33px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}


/*home*/
.icon-home-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
width: 116px;
height: 47px;
flex: none;
order: 0;
flex-grow: 0;
}

.icon-home{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 48px;
  height: 41px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.home{
box-sizing: border-box;
width: 28px;
height: 21px;
flex: none;
order: 0;
flex-grow: 0;
}

.home-text{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;
width: 68px;
height: 41px;
flex: none;
order: 1;
flex-grow: 0;
}

.home-link{
width: 48px;
height: 21px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
text-decoration: none;
cursor: pointer;
}


/*about*/
.icon-about-container{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
width: 117px;
height: 47px;
flex: none;
order: 1;
flex-grow: 0;
}

.icon-about{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;
width: 48px;
height: 41px;
flex: none;
order: 0;
flex-grow: 0;
}

.about{
  box-sizing: border-box;
  width: 28px;
  height: 21px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 69px;
  height: 41px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-link{
  width: 49px;
  height: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}

/*Projects*/
.icon-project-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 134px;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.icon-project{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 48px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project{
box-sizing: border-box;
width: 28px;
height: 28px;
flex: none;
order: 0;
flex-grow: 0;
}

.project-text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 86px;
  height: 41px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.project-link{
  width: 66px;
  height: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}


/*Contact*/

.icon-contact-container{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
width: 132px;
height: 48px;
flex: none;
order: 3;
flex-grow: 0;
}

.icon-contact{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 48px;
  height: 41px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact{
  width: 28px;
  height: 21px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 84px;
  height: 41px;
  flex: none;
  order: 1;
  flex-grow: 0;
  
}

.contact-link{
  width: 64px;
  height: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
  cursor: pointer;
}


/*Social media*/

.social-media-container{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 15px;
width: 100%;
height: 36.33px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 35px 0;
padding: 10px 0;
}

.social-link-twitter{
  width: 40px;
  height: 40px;
  background: #1D9BF0;
  border-radius: 400px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social-link-github{
  width: 40px;
  height: 40px;
  background: #191717;
  border-radius: 400px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-link-linkedin{
  width: 40px;
  height: 40px;
  background: #0A66C2;
  border-radius: 400px;
  flex: none;
  order: 2;
  flex-grow: 0;
}


.line-container{
  display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
gap: 10px;
width: 100%;
height: 2px;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.line{
  width: 1024px;
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  flex: none;
  order: 0;
  flex-grow: 0;
}


/*Final text*/

.final-text-container{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6px;
width: 100%;
height: 36.33px;
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}

.final-text{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
color: rgba(255, 255, 255, 0.7);
}

.final-icon{
  width: 20px;
height: 18.02px;
}
/*media query min 1200px*/
@media (min-width:1200px){
  .footer-container{
    min-width: 1550px;
    width: 100%;
  }
}

/*media query min 992px max 1199.98px*/
@media (min-width:992px) and (max-width:1199.98px){
  .footer-container{
    min-width: 1500px;
    width: 100%;
  }
}


/*media query min 768px max 991.98px*/
@media (min-width:768px) and (max-width:991.98px){
  .footer-container{
    min-width: 1450px;
    width: 100%;
  }
}


/*media query min 576px max 767.98*/
@media (min-width:576px) and (max-width:767.98px){

  .footer-container{
    min-width: 1400px;
    width: 100%;
    height: 500px;
    top: 10700px;
  }
  
  .menu-container{
    height: 85px;
  }
  
  .icon-home-container, .icon-about-container, .icon-project-container, .icon-contact-container{
    width: 226px;
    height: 87px;
  }
  
  .icon-home, .icon-about, .icon-project, .icon-contact{
    width: 88px;
    height: 82px;
    align-items: center;
  }
  
  .home, .about, .project, .contact{
    width: 76px;
    height: 32px;
  }
  
  .home-text, .about-text, .project-text, .contact-text{
    width: 136px;
    height: 87px;
    align-items: center;
  }
  
  .home-link, .about-link, .project-link, .contact-link{
    font-size: 1.8rem;
  }
  
  .social-media-container{
    top: 50px;
    gap: 30px;
    height: 65px;
  }
  
  .social-link-twitter, .social-link-github, .social-link-linkedin{
    width: 70px;
    height: 70px;
  }
  
  .footer-twitter, .footer-github, .footer-linkedin{
    width: 70px;
    height: 71px;
  }
  
  .final-text-container{
    height: 65px;
  }
  
  .final-text{
    font-size: 1.7rem;
  }
  
  .final-icon{
    width: 25px;
    height: 20px;
  }
}

/*media query min 320px max 575.98*/
@media (min-width: 320px) and (max-width: 575.98px){
.footer-container{
  min-width: 1350px;
  width: 100%;
  height: 500px;
  top: 10700px;
}

.menu-container{
  height: 85px;
}

.icon-home-container, .icon-about-container, .icon-project-container, .icon-contact-container{
  width: 226px;
  height: 87px;
}

.icon-home, .icon-about, .icon-project, .icon-contact{
  width: 88px;
  height: 82px;
  align-items: center;
}

.home, .about, .project, .contact{
  width: 76px;
  height: 32px;
}

.home-text, .about-text, .project-text, .contact-text{
  width: 136px;
  height: 87px;
  align-items: center;
}

.home-link, .about-link, .project-link, .contact-link{
  font-size: 1.8rem;
}

.social-media-container{
  top: 50px;
  gap: 30px;
  height: 65px;
}

.social-link-twitter, .social-link-github, .social-link-linkedin{
  width: 70px;
  height: 70px;
}

.footer-twitter, .footer-github, .footer-linkedin{
  width: 70px;
  height: 71px;
}

.final-text-container{
  height: 65px;
}

.final-text{
  font-size: 1.7rem;
}

.final-icon{
  width: 25px;
  height: 20px;
}
}