/*Oxygen Mono (Regular)*/
@import url('https://fonts.googleapis.com/css2? family= Oxygen+Mono & display=swap');
/*Oxygen*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
/*Zen Tokyo*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');


/*colours*/
:root{
    --main-bg-color:#070B2C;
    --main-text-color: #ffffff;
    --secondary-color: #80418F;
    --secondary-text-color: #c939ed;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body{
background-color:var(--main-bg-color) ;
font-family: 'Oxygen', sans-serif;
color: var(--main-text-color);
}